@media screen and (min-width: 560px) {
    
	#menu {
		display: none;
	}


    nav {
        flex-direction: row;
        justify-content: right;
        align-items: center;
    }

    nav a {
        display: inline;
        margin: 0em 1em 0em 0em;
    }
}